{
    "branches": [ {"name": "main", "prerelease": false}, {"name": "staging", "prerelease": true}, { "name": "[cCoOlLdD]*-[0-9]*", "prerelease": true } ],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/changelog",
    [
      "@semantic-release/npm", {
        "npmPublish": false
      }
    ],
    "@semantic-release/github"
    ]
}
