version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest-api
    restart: always
    ports:
      - '7001:7001'
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/colddb
      PORT: 7001
      API_ADMIN_EMAIL: api_admin@coldclimate.com
      API_ADMIN_PASSWORD: exorcism-edging-glaucous-HUSKING-shoptalk
      API_SERVER_DESCRIPTION: The staging server is our development server
      API_SERVER_URL: http://localhost:7001
      AUTH0_AUDIENCE: https://api.coldclimate.wtf/
      AUTH0_CLIENT_ID: AocyNEqBocKfmU9AHUs0koGeZ73lbrkF
      AUTH0_CLIENT_SECRET: 2B-61DfHmIRJNuhhg1CXVuUZg4bYnnDq9JNCLPIfyuz4if8JD4kTPcO1qflquLT4
      AUTH0_DOMAIN: dev-6qt527e13qyo4ls6.us.auth0.com
      AUTH0_ORG_ID: org_VWv3Al9pLEI4CaOH
      AUTH0_TOKEN_URL: https://dev-6qt527e13qyo4ls6.us.auth0.com/oauth/token
      AUTH0_UI_CLIENT_ID: i8rCPXsLq9b2YKOOWUTfvgUj0iYD7dE3
      AUTH0_UI_CLIENT_SECRET: MmXwMlMHYTKfJ1Dk_okecL0ffi5Zc6DvLOx5pl9Yepwen3JzwNa6hNgUyzqfNZVs
      LD_SDK_KEY: sdk-1d8c0508-63b9-4396-aceb-a3cd13ec16b2
      NODE_ENV: development
      REDISCLOUD_URL: redis://cache:6379
    volumes:
      - api:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - cache
      - postgres
    links:
      - cache
      - postgres
  cache:
    image: redis:6.2-alpine
    container_name: nest-api-cache
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data
  postgres:
    container_name: nest-api-postgres
    image: postgres:14-alpine
    ports:
      - '5432:5432'
    volumes:
      - ~/apps/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=colddb

volumes:
  api:
    driver: local
  cache:
    driver: local
