name: 'API: Build'
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - staging
      - 'cold-**'
      - 'COLD-**'
      - 'Cold-**'
  pull_request:
    branches:
      - main
env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NPM_TOKEN: ${{ secrets.GH_TOKEN }}
  CACHE_NAME: cache-node-modules
  PR_NUMBER: ${{ github.event.number }}

jobs:
  dependencies:
    name: Build Dependencies and Migrate DB
    runs-on: ubuntu-latest

    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.9.0"
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ env.CACHE_NAME }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.CACHE_NAME }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install dependencies
        run: yarn
      #Database Migrations
      - name: Generate Prisma Client
        run: yarn add -D zod-prisma zod-prisma-types @vegardit/prisma-generator-nestjs-dto ts-node && yarn dlx prisma generate
      - name: unit tests
        run: yarn test
      - name: Migrate Staging DB
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
          DATABASE_URL: ${{ secrets.STAGING_DATABASE_URL }}
        if: startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD')
        run: |
          npx nx run nest:prisma-generate /
          prisma migrate deploy --preview-feature /
      - name: Seed Staging DB
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
          DATABASE_URL: ${{ secrets.STAGING_DATABASE_URL }}
          PR_NUMBER: ${{ github.event.number }}
        if: startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD')
        run: prisma db seed
      - name: Migrate Production DB
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
          DATABASE_URL: ${{ secrets.PRODUCTION_DATABASE_URL }}
          PR_NUMBER: ${{ github.event.number }}
        if: startsWith(env.BRANCH_NAME,'main')
        run: |
          nx run nest:prisma-generate  /
          prisma generate  /
          prisma migrate deploy --preview-feature /
      - name: Seed Production DB
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
          DATABASE_URL: ${{ secrets.PRODUCTION_DATABASE_URL }}
          PR_NUMBER: ${{ github.event.number }}
        if: startsWith(env.BRANCH_NAME,'main')
        run: prisma db seed
      - name: Compile Typescript
        run: yarn build
      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}
  #    - name: Run API tests
  #     run: |
  #        postman collection run "26744970-e48d50a1-8c4b-40ba-8b74-6aec4144adc4" -e "26744970-19278787-72dd-42c7-b9a8-6ac826617c4d" --delay-request 500 --env-var baseUrl=cold-api-pr-${PR_NUMBER}.herokuapp.com"

  build:
    name: Deploy and Version
    needs: dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ env.CACHE_NAME }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.CACHE_NAME }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Corepack
        run: |
          npm -g install corepack \
          corepack enable \
      - name: Install dependencies
        run: yarn
      - name: Compile Typescript
        run: yarn build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
      - name: get new app version
        run: echo "DD_VERSION=$(npm pkg get version)" >> $GITHUB_ENV
      - name: set version in heroku staging
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        if: startsWith(env.BRANCH_NAME,'main') || startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD')
        run: |
          echo "{\"DD_VERSION\":$(npm pkg get version)}"
          curl --request PATCH \
          --url 'https://api.heroku.com/apps/api-cold-climate/config-vars' \
          --header 'Accept: application/vnd.heroku+json; version=3`.\n' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer ${{secrets.HEROKU_API_KEY}}' \
          --data "{\"DD_VERSION\":$(npm pkg get version)}"
      - name: set version in heroku production
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        if: startsWith(env.BRANCH_NAME,'main')
        run: |
          echo $DD_VERSION + $BRANCH_NAME + $HEROKU_API_KEY
          curl --request PATCH \
          --url 'https://api.heroku.com/apps/api-cold-climate-production/config-vars' \
          --header 'Accept: application/vnd.heroku+json; version=3`.\n' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer ${{secrets.HEROKU_API_KEY}}' \
          --data "{\"DD_VERSION\":$(npm pkg get version)}"
      - name: Update Image Tag in api.flightcontrol.json
        uses: restackio/update-json-file-action@v2.0
        with:
            file: api.flightcontrol.json
            fields: "{\"environments.services[1].containerImage.tag\":\"${{ github.head_ref || github.ref_name }}\"}"
      - name: Update Version Variable in api.flightcontrol.json
        uses: restackio/update-json-file-action@v2.0
        with:
          file: api.flightcontrol.json
          fields: "{\"environments.services[1].envVariables.DD_VERSION\":$(npm pkg get version)}"

      - name: test
        run: echo $(cat api.filghtcontrol.json)

  deploy:
    name: Build Docker Image
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup AWS ECR Details
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{secrets.AWS_REGION_NAME}}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push the latest docker image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{secrets.AWS_ECR_REPO}}
        run: |
            docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:${{ github.head_ref || github.ref_name }} .
            docker push $ECR_REGISTRY/$ECR_REPOSITORY:${{ github.head_ref || github.ref_name }}
