name: 'API: Build'
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - staging
      - 'cold-**'
      - 'COLD-**'
      - 'Cold-**'
  pull_request:
    branches:
      - main
env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NPM_TOKEN: ${{ secrets.GH_TOKEN }}
  CACHE_NAME: cache-node-modules
  PR_NUMBER: ${{ github.event.number }}

jobs:
  build:
    name: Build Dependencies and Migrate DB
    runs-on: ubuntu-latest

    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.9.0"
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ env.CACHE_NAME }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.CACHE_NAME }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      #Database Migrations
      - name: Install dependencies
        run: yarn && yarn postinstall
      - name: Generate Prisma Client
        run: yarn dlx nx run coldpbc/nest:prisma-generate

      - name: build development
        run:  yarn prebuild && yarn dlx nx reset && yarn dlx nx run cold-api:build:development

      - name: 'Unit Test: Nest'
        run: yarn dlx nx run coldpbc/nest:test:ci

      - name: 'Unit Test: Cold-API'
        run: yarn dlx nx run cold-api:test:ci

      - name: Migrate Staging DB
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
          DATABASE_URL: ${{ secrets.STAGING_DATABASE_URL }}
        if: startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD')
        run: |
          prisma migrate deploy --preview-feature /
      - name: Seed Staging DB
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
          DATABASE_URL: ${{ secrets.STAGING_DATABASE_URL }}
          PR_NUMBER: ${{ github.event.number }}
        if: startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD')
        run: prisma db seed
      - name: Migrate Production DB
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
          DATABASE_URL: ${{ secrets.PRODUCTION_DATABASE_URL }}
          PR_NUMBER: ${{ github.event.number }}
        if: startsWith(env.BRANCH_NAME,'main')
        run: |
          prisma migrate deploy --preview-feature /
      - name: Seed Production DB
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
          DATABASE_URL: ${{ secrets.PRODUCTION_DATABASE_URL }}
          PR_NUMBER: ${{ github.event.number }}
        if: startsWith(env.BRANCH_NAME,'main')
        run: prisma db seed

      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release

      - name: get new app version
        run: echo "DD_VERSION=$(npm pkg get version)" >> $GITHUB_ENV

      - name: set version in heroku staging
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        if: startsWith(env.BRANCH_NAME,'main') || startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD')
        run: |
          echo "{\"DD_VERSION\":$(npm pkg get version)}"
          curl --request PATCH \
          --url 'https://api.heroku.com/apps/api-cold-climate/config-vars' \
          --header 'Accept: application/vnd.heroku+json; version=3`.\n' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer ${{secrets.HEROKU_API_KEY}}' \
          --data "{\"DD_VERSION\":$(npm pkg get version)}"

      - name: set version in heroku production
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        if: startsWith(env.BRANCH_NAME,'main')
        run: |
          echo $DD_VERSION + $BRANCH_NAME + $HEROKU_API_KEY
          curl --request PATCH \
          --url 'https://api.heroku.com/apps/api-cold-climate-production/config-vars' \
          --header 'Accept: application/vnd.heroku+json; version=3`.\n' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer ${{secrets.HEROKU_API_KEY}}' \
          --data "{\"DD_VERSION\":$(npm pkg get version)}"

  deploy-prod:
    name: Trigger Deploy
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Deploy to production
        if: startsWith(env.BRANCH_NAME,'main')
        run: |
          curl -n -X POST https://app.flightcontrol.dev/api/deploy-hook/cold-staging/58vWGjvmj9PWGxzImyRkVCTujxuJT-Q8piPwciMogtAy4-ci?force=false \
      - name: Deploy to staging
        if: startsWith(env.BRANCH_NAME,'staging')
        run: |
          curl -n -X POST https://app.flightcontrol.dev/api/deploy-hook/cold-staging/58vWGjvmj9PWGxzImyRkVCTujxuJT-Q8piPwciMogtAy4-ci?force=false \
      - name: Deploy to preview
        if: startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD')
        run: |
          curl -n -X POST https://app.flightcontrol.dev/api/deploy-hook/cold-staging/58vWGjvmj9PWGxzImyRkVCTujxuJT-Q8piPwciMogtAy4-ci?force=false \

  deploy-dev:
    name: Trigger Dev Deploy
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to staging
        if: startsWith(env.BRANCH_NAME,'staging')
        run: |
          curl -n -X POST https://app.flightcontrol.dev/api/deploy-hook/cold-staging/58vWGjvmj9PWGxzImyRkVCTujxuJT-Q8piPwciMogtAy4-ci?force=false \
      - name: Deploy to preview
        if: ${{ github.event.number }} && startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD')
        run: |
          curl -n -X POST https://app.flightcontrol.dev/api/deploy-hook/cold-preview/xaQAJM9Iw4G6UWmYTX0RLYdU1krFiPnKNV-lzQeTc6crqjgc/${{ github.event.number }}/$(git rev-parse --short "$GITHUB_SHA")?force=false \
