name: 'Pre-Build'
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - staging
      - 'cold-**'
      - 'COLD-**'
      - 'Cold-**'
  pull_request:
    branches:
      - main
env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NPM_TOKEN: ${{ secrets.GH_TOKEN }}
  CACHE_NAME: cache-node-modules
  PR_NUMBER: ${{ github.event.number }}

jobs:
  build:
    name: Build Dependencies & Version
    runs-on: ubuntu-latest

    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.9.0"
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ env.CACHE_NAME }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.CACHE_NAME }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      #Database Migrations
      - name: enable corepack
        run: corepack enable
      - name: install yarn
        run: yarn set version stable
      - name: Install dependencies
        continue-on-error: true
        run: yarn install && yarn postinstall
      - name: Generate Prisma Client
        run: yarn dlx nx run coldpbc/nest:prisma-generate

      - name: Version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}

        continue-on-error: true
        run: npx semantic-release

      - name: setup git config
        run: |
          # setup the username and email
          git config user.name "FlightControl Update Bot"
          git config user.email "<>"

      - name: commit
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          # Stage the file, commit and push
          git add flightcontrol.json
          git commit -m "chore: update version [skip ci]"
          git push origin ${BRANCH_NAME}
      - name: set version in heroku staging
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        if: startsWith(env.BRANCH_NAME,'staging') || startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD')
        run: |
          echo "{\"DD_VERSION\":$(npm pkg get version)}"
          curl --request PATCH \
          --url 'https://api.heroku.com/apps/api-cold-climate/config-vars' \
          --header 'Accept: application/vnd.heroku+json; version=3`.\n' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer ${{secrets.HEROKU_API_KEY}}' \
          --data "{\"DD_VERSION\":$(npm pkg get version)}"

      - name: set version in heroku
        run: |
          echo $DD_VERSION + $BRANCH_NAME + $HEROKU_API_KEY
          curl --request PATCH \
          --url 'https://api.heroku.com/apps/api-cold-climate-${environment}/config-vars' \
          --header 'Accept: application/vnd.heroku+json; version=3`.\n' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer ${{secrets.HEROKU_API_KEY}}' \
          --data "{\"DD_VERSION\":$(npm pkg get version)}"

  deploy-prod:
    name: Trigger Deploy
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
  deploy-dev:
    name: Trigger Dev Deploy
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Deploy to production
        if: startsWith(env.BRANCH_NAME,'main')
        run: |
          curl -n -X POST https://app.flightcontrol.dev/api/deploy-hook/cold-production/wKyB691SxArA4LuDb3FDaptLaexm8Vtv2DAc_2w6gw-_WOYH?force=false \
      - name: Deploy to staging
        if: startsWith(env.BRANCH_NAME,'staging')
        run: |
          curl -n -X POST https://app.flightcontrol.dev/api/deploy-hook/cold-staging/58vWGjvmj9PWGxzImyRkVCTujxuJT-Q8piPwciMogtAy4-ci?force=false \
      - name: Deploy to preview
        if: ${{ github.event.number }} && (startsWith(env.BRANCH_NAME,'cold') || startsWith(env.BRANCH_NAME,'Cold') || startsWith(env.BRANCH_NAME,'COLD'))
        run: |
          curl -n -X POST https://app.flightcontrol.dev/api/deploy-hook/cold-preview/xaQAJM9Iw4G6UWmYTX0RLYdU1krFiPnKNV-lzQeTc6crqjgc/${{ github.event.number }}/$(git rev-parse --short "$GITHUB_SHA")?force=false \
