name: Release
on:
  push:
    branches:
      - main
      - 'cold-**'
      - 'COLD-**'
      - 'Cold-**'

permissions:
  contents: read # for checkout

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NPM_TOKEN: ${{ secrets.GH_TOKEN }}
  CACHE_NAME: cache-node-modules

jobs:
  release:
    env:
      CI: true
    name: Release
    runs-on: ubuntu-latest
    permissions:
      actions: 'read'
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0
      #NX STEPS
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v3
      - run: |
          echo "BASE: ${{ env.NX_BASE }}"
          echo "HEAD: ${{ env.NX_HEAD }}"
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        id: setSHAs
        uses: nrwl/nx-set-shas@v3
      - run: |
          echo "BASE: ${{ steps.setSHAs.outputs.base }}"
          echo "HEAD: ${{ steps.setSHAs.outputs.head }}"
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}--${{ hashFiles('**/yarn.lock') }}--${{ env.NX_HEAD }}
          restore-keys: |
            ${{ runner.os }}--${{ hashFiles('**/yarn.lock') }}--${{ env.NX_HEAD }}
            ${{ runner.os }}--${{ hashFiles('**/yarn.lock') }}
            ${{ runner.os }}
      - run: yarn cache clean
      - run: npm install
      - name: Ensure main branch is tracked when building feature branch
        if: github.ref != 'refs/heads/main'
        run: git branch --track main origin/main
      - run: npx nx affected -t lint --parallel=3
      - run: npx nx affected -t test --parallel=3 --configuration=ci
      - run: npx nx affected -t build --parallel=3

      - name: Compile Typescript
        run: yarn build:prod
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
