name: Release
on:
  push:
    branches:
      - main
      - 'cold-**'
      - 'COLD-**'
      - 'Cold-**'

permissions:
  contents: read # for checkout

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NPM_TOKEN: ${{ secrets.GH_TOKEN }}
  CACHE_NAME: cache-node-modules

jobs:
  release:
    env:
      CI: true
    name: Release
    runs-on: ubuntu-latest
    permissions:
      actions: 'read'
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}--${{ hashFiles('**/yarn.lock') }}--${{ env.NX_HEAD }}
          restore-keys: |
            ${{ runner.os }}--${{ hashFiles('**/yarn.lock') }}--${{ env.NX_HEAD }}
            ${{ runner.os }}--${{ hashFiles('**/yarn.lock') }}
            ${{ runner.os }}
      - name: Compile Typescript
        run: yarn build:prod
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
