name: Release
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read # for checkout

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NPM_TOKEN: ${{ secrets.GH_TOKEN }}
  CACHE_NAME: cache-node-modules

jobs:
  release:
    env:
      CI: true
    name: Release
    runs-on: ubuntu-latest
    permissions:
      actions: 'read'
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-${{ env.CACHE_NAME }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.CACHE_NAME }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - run: yarn
      - name: Compile Typescript
        run: yarn build:prod
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
      - name: get new app version
        run: echo "DD_VERSION=$(npm pkg get version)" >> $GITHUB_ENV
      - name: set version in heroku
        run: |
          echo $DD_VERSION + $BRANCH_NAME + $HEROKU_API_KEY
          curl --location --request PATCH 'https://api.heroku.com/apps/cold-app-production/config-vars' \
          --header 'Accept: application/vnd.heroku+json; version=3' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer ${{secrets.HEROKU_API_KEY}}' \
          --data "{\"VITE_DD_VERSION\":$(npm pkg get version)}"


